@model IEnumerable<ahmed_nawar.Models.About>
@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
}



<div class="page-wrapper">

    <!-- Preloader -->
    <div class="preloader">
        <div class="spinner_wrap">
            <div class="spinner"></div>
        </div>
    </div>







    <section class="page-title" style="background-image:url(/images/background/bg-4.jpg)">
        <div class="auto-container">
            <ul class="bread-crumb">
                <li><a href="index-2.html">Home</a></li>
                <li><a href="#">Pages</a></li>

            </ul>
            <h1>About Us</h1>
        </div>
    </section>

    @foreach (var item in Model)
    {
        <section class="about-section sp-two">
            <div class="anim-icons">
                <span class="icon big-shape-1"></span>
            </div>
            <div class="auto-container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="image-box">
                            <div class="image-1 wow fadeInLeft"><img src="~/images/resource/image-1.jpg" alt=""></div>
                            <div class="image-2 wow fadeInRight" data-wow-delay="400ms"><img src="@Url.Content(item.Image)" alt=""></div>
                        </div>

                    </div>
                    <div class="col-lg-6 pl-lg-5">
                        <!-- Section Title -->
                        <div class="sec-title">

                            <h1>@Html.DisplayFor(modelItem => item.Titel)</h1>
                        </div>
                        <div class="about-block mb-30">

                            <div class="text wow fadeInUp" data-wow-delay="300ms">
                                @Html.DisplayFor(modelItem => item.Summry)
                            </div>




                            <div class="link-btn-two wow fadeInRight" data-wow-delay="500ms">
                                <a href="#" class="theme-btn btn-style-two border-anim-left"><span class="border-anim-right"></span>Read more</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    }
    </div>



    