
@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
}


<div class="page-wrapper">

    <!-- Preloader -->
    <div class="preloader">
        <div class="spinner_wrap">
            <div class="spinner"></div>
        </div>
    </div>


    <section class="page-title" style="background-image:url(images/background/bg-4.jpg)">
        <div class="auto-container">
            <ul class="bread-crumb">
                <li><a href="index-2.html">Home</a></li>
                <li><a href="#">Projects</a></li>

            </ul>
            <h1>Our Projects</h1>
        </div>
    </section>
    <!--End Page Title-->
    <!-- Project Details -->
    <section class="project-details sp-two">
        <div class="auto-container">

            <div class="row">
                <div class="col-lg-5 order-lg-2">


                    <img src="images/gallery/project-6.jpg" alt="">



                </div>
                <div class="col-lg-7">
                    <h1 class="mt-20">Our Projects</h1>
                    <div class="text">Lorem ipsum is simply free text used by copytyping refreshing. Neque porro est qui dolorem ipsum quia quaed inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Aelltes port lacus quis enim var sed efficitur turpis gilla sed sit amet finibus eros. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the ndustry standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries. Lorem Ipsum is simply dummy text of the new design printng and type setting Ipsum Take a look at our round up of the best shows coming soon to your telly box has been the is industrys. When an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing.</div>



                    <div class="text">Neque porro est qui dolorem ipsum quia quaed inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Aelltes port lacus quis enim var sed efficitur turpis gilla sed sit amet finibus eros. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the ndustry stan when an unknown printer took a galley.</div>







                    <div class="text">When an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the ndustry stan when an unknown printer took a galley.</div>
                </div>
            </div>


        </div>
    </section>




    <section class="our-projects style-two sp-two" style="background: #EEE">
        <div class="auto-container">
            <div class="row">
                <!-- Project Block One -->
                <!-- Project Block One -->
                <div class="project-block-one col-lg-12 col-md-12">
                    <h1 class="mt-20">Gallery</h1>
                </div>
                <!-- Project Block One -->
                <div class="project-block-one col-lg-4 col-md-6">
                    <div class="inner-box">
                        <div class="image">
                            <img src="images/gallery/project-6.jpg" alt="">
                            <div class="overlay">

                                <a class="lightbox-image" href="images/gallery/project-6.jpg" data-fancybox-group="example-portfolio"><span class="flaticon-round-add-button"></span></a>
                            </div>
                        </div>
                        <div class="lower-content">
                            <h3><a href="#">test test test</a></h3>
                        </div>
                    </div>
                </div>
                <!-- Project Block One -->
                <div class="project-block-one col-lg-4 col-md-6">
                    <div class="inner-box">
                        <div class="image">
                            <img src="images/gallery/project-6.jpg" alt="">
                            <div class="overlay">

                                <a class="lightbox-image" href="images/gallery/project-6.jpg" data-fancybox-group="example-portfolio"><span class="flaticon-round-add-button"></span></a>
                            </div>
                        </div>
                        <div class="lower-content">
                            <h3><a href="#">test test test</a></h3>
                        </div>
                    </div>
                </div>
                <!-- Project Block One -->
                <div class="project-block-one col-lg-4 col-md-6">
                    <div class="inner-box">
                        <div class="image">
                            <img src="images/gallery/project-6.jpg" alt="">
                            <div class="overlay">

                                <a class="lightbox-image" href="images/gallery/project-6.jpg" data-fancybox-group="example-portfolio"><span class="flaticon-round-add-button"></span></a>
                            </div>
                        </div>
                        <div class="lower-content">
                            <h3><a href="#">test test test</a></h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>




</div>
