
@{
    Layout = null;
}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>about</title>
    <!-- Stylesheets -->
    <link href="~/css/bootstrap.css" rel="stylesheet">
    <link href="~/css/style.css" rel="stylesheet">
    <link href="~/css/responsive.css" rel="stylesheet">

    <link rel="shortcut icon" href="~/images/favicon.png" type="image/x-icon">
    <link rel="icon" href="~/images/favicon.png" type="image/x-icon">

    <!-- Responsive -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">


</head>

<body>
    @RenderBody()
    <!--End pagewrapper-->
    <!--Scroll to top-->
    <div class="scroll-to-top scroll-to-target" data-target="html"><span class="fas fa-angle-up"></span></div>
    <script src="~/js/jquery.js"></script>
    <script src="~/js/popper.min.js"></script>
    <script src="~/js/pagenav.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/jquery.paroller.min.js"></script>
    <script src="~/js/jquery.fancybox.js"></script>
    <script src="~/js/appear.js"></script>
    <script src="~/js/swiper.min.js"></script>
    <script src="~/js/owl.js"></script>
    <script src="~/js/wow.js"></script>
    <script src="~/js/element-in-view.js"></script>
    <script src="~/js/timeline.min.js"></script>
    <script src="~/js/TweenMax.min.js"></script>
    <script src="~/js/script.js"></script>

    <!--Google Map APi Key-->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBk25E4mNfVIEt3tNl3K1HwNZVruVoFBlA"></script>
    <script src="~/js/map-script.js"></script>
    <!--End Google Map APi-->

</body>

</html>


